- javascript_include_tag :defaults
%table.table
  %tr
    %th ID
    %th Name
    %th Description
    %th


  - @things.each do |thing|
    %tr.thing-selector-row{id: "#{thing.id}"}
      %td= thing.id.to_s
      %td= thing.name
      %td= thing.description
      %td
        = link_to "Add", {add_thing_id: thing.id}, remote: true
#paginator
  = paginate @things, :remote => true