%table.table
  %tr
    %th ID
    %th Name
    %th Description
    %th


  - @selected_things.each do |thing|
    = hidden_field_tag 'thing_ids[]', thing.id
    %tr
      %td= thing.id.to_s
      %td= thing.name
      %td= thing.description
      %td
        = link_to "Remove", {remove_thing_id: thing.id}, remote: true