%p#notice= notice

%p
  %b Index:
  = @thing.index
%p
  %b Edit:
  = @thing.edit
%p
  %b New:
  = @thing.new
%p
  %b Show:
  = @thing.show

= link_to 'Edit', edit_thing_path(@thing)
\|
= link_to 'Back', things_path
