- if @checkout.errors.any?
  #error_explanation
    %h2= "#{pluralize(@checkout.errors.count, "error")} prohibited this checkout from being saved:"
    %ul
      - @checkout.errors.full_messages.each do |msg|
        %li= msg
- @checkout.allocations.each do |allocation|
  - if allocation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkout.errors.count, "error")} prohibited this allocation from being saved:"
      %ul
        - allocation.errors.full_messages.each do |msg|
          %li= msg

= simple_form_for @checkout do |f|
  .input-append#checkout-pickup-at
    = f.label :pickup_at
    = f.text_field :pickup_at, value: DateTime.now.strftime("%m/%d/%Y %I:%M:%S %p"), data: {format: 'MM/dd/yyyy HH:mm:ss PP'}
    %span.add-on
      %i{ data: {time: {icon: 'icon-time'}, date: {icon: 'icon-calendar' } } }
  .input-append#checkout-return-at
    = f.label :return_at
    = f.text_field :return_at, value: (DateTime.now + 1.day).strftime("%m/%d/%Y %I:%M:%S %p"), data: {format: 'MM/dd/yyyy HH:mm:ss PP'}
    %span.add-on
      %i{ data: {time: {icon: 'icon-time'}, date: {icon: 'icon-calendar' } } }
  = f.button :submit