= simple_form_for @checkout do |f|
  - if @type == "reservation"
    .input-append#checkout-pickup-at
      = f.label :pickup_at
      = f.text_field :pickup_at, value: @pickup_at.strftime("%Y-%m-%d %I:%M:%S %p"), data: {format: 'yyyy-MM-dd HH:mm:ss PP'}
      %span.add-on
        %i{ data: {time: {icon: 'icon-time'}, date: {icon: 'icon-calendar' } } }
    .input-append#checkout-return-at
      = f.label :return_at
      = f.text_field :return_at, value: @return_at.strftime("%Y-%m-%d %I:%M:%S %p"), data: {format: 'yyyy-MM-dd HH:mm:ss PP'}
      %span.add-on
        %i{ data: {time: {icon: 'icon-time'}, date: {icon: 'icon-calendar' } } }
    = hidden_field_tag "type", "reservation"
  - else
    .input-append#checkout-return-at
      = f.label :return_at
      = f.text_field :return_at, value: @return_at.strftime("%Y-%m-%d %I:%M:%S %p"), data: {format: 'yyyy-MM-dd HH:mm:ss PP'}
      %span.add-on
        %i{ data: {time: {icon: 'icon-time'}, date: {icon: 'icon-calendar' } } }
    = hidden_field_tag "type", "checkout"
  #selected_things
  = f.button :submit, @type.capitalize